p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin: none;
    padding-top: 80px;
    height: 3000px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(244, 244, 244)
}

a{
    text-decoration: none;
}